*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20vw;
    height: 50vh;
    margin: 25vh auto;
    border: 2px solid black;
    border-radius: 12px;
    background: rgba(128, 128, 128, 0.651);
    padding: 1rem;
}

.display {
    height: 25%;
    border: 2px solid black;
    border-radius: 6px;
    background: white;
    padding: 0.5rem;
    text-align: right;
    line-height: 2.5;
}

.display > .history {
    height: 35%;
    font-size: 16px;
}

.display > .current {
    height: 65%;
    font-size: 30px;
}

.edit {
    display: flex;
    gap: 0.5rem;
}

.edit > button {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

#clear {
    background: rgba(42, 165, 52, 0.418);
}

#delete {
    background: rgba(255, 0, 0, 0.418);
}