*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    margin: 25vh auto;
    border: 2px solid black;
    border-radius: 12px;
    background: rgba(128, 128, 128, 0.651);
    padding: 1rem;
}

.display {
    flex-basis: 100px;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 6px;
    background: white;
    padding: 0.5rem;
    text-align: right;
    font-weight: 600;
}

.display > .history {
    height: 35%;
    padding-top: 8px;
    font-size: 20px;
}

.display > .current {
    height: 65%;
    padding-top: 16px;
    font-size: 30px;
    
}

.edit {
    flex-basis: 54px;
    flex-grow: 1;
    display: flex;
    gap: 8px;
}

.edit > button {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

#clear {
    background: rgba(42, 165, 52, 0.418);
}

#delete {
    background: rgba(255, 0, 0, 0.418);
}

.input {
    flex-basis: 280px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
}

.input > .btn {
    flex-basis: 50px;
    flex-grow: 1;
    font-size: larger;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 6px;
}